<!DOCTYPE html>
<html><head>
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap" rel="stylesheet" />
</head><body><div class="v12_437"><span class="v12_438">Tout droit réservé à MaliTourist Ⓒ 2022</span>
  <div class="v12_450"></div><span class="v12_451">Prenom</span><span class="v12_452">Mot de passe</span>
  <span class="v12_453">Nom </span><div class="v12_449"></div><span class="v12_454">Inscription</span>
  <div class="name"></div><div class="name"></div><div class="name">

  </div></div>
</body></html>