<aside class="idebar" id="sidebar">
  <nav class="nav">
    <div class="nav_logo">
      <a href="index.html" class="nav_logo-text">M</a>
    </div>

    <div class="nav_menu">
      <div class="menu">
        <ul class="nav_list">
          <li class="nav_item">
            <a href="#home" class="nav_link active-link">Home</a>
          </li>
          <li class="nav_item">
            <a href="#listeRegion" class="nav_link">Liste région</a>
          </li>
        </ul>
      </div>
      <div class="btn_share">
        <i class="uil uil-share-alt social_share"></i>
      </div>
    </div>
  </nav>

</aside>
