
/* *******SIDBAR***** */
.sidebar {
  position: fixed;
  width: 100px;
  height: 100px;
  background-color:black;
  border-right: 1px solid var(--box-color);
}

.nav_logo {
  position: absolute;
  left: 0;
  right: O;
  top: 1.8rem;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--skin-color);
  text-align: center;
  margin: auto;
}

.nav_logo-text {
  font-size: 1.135rem;
  color: var(--title-color);
  font-weight: var(--font-bold);
  line-height: 40px;
}

.nav_menu {
  position: fixed;
  transform: rotate(-90deg) translateX(-100%);
  transform-origin: left top;
  width: 100vh;
}

.menu {
  display: flex;
}

.nav_list {
  display: flex;
  flex-direction: row-reverse;
  margin: -2px auto 0 auto;
}

.nav_link {
  float: right;
  height: 100%;
  line-height: 100px;
  padding: 0 1rem;
  color: var(--title-color);
  font-weight: var(--font-medium);
  position: relative;
  transition: .4s;
}

.btn_share {
  /*position: absolute;*/
  bottom: 1.8rem;
  left: 0;
  right: 0;
}

.social_share {
  font-size: 1.5rem;
}

/* Active link*/
.nav_link.active-link, .nav_link:hover {
  color: var(--skin-color);
}

  .nav_link.active-link::after, .nav_link::after {
    position: absolute;
    content: '';
    width: 6px;
    height: 6px;
    background-color:blue;
    border-radius: 50%;
    bottom: 1.8rem;
    left: 0;
    right: 0;
    margin: auto;
  }
