<footer>
  <div class="piedPage">
    <a href=""></a>
    <div class="home_social">
      <div class="home_social-links">
        <span> Copyright ©  Tous droit réservés à MaliTourist 2022</span>
        <a href="https://www.facebook.com/" ><img src="assets/facebook.png" class="home_social-link"/></a>
        <a href="https://www.linkedin.com/feed/"><img src="assets/linkedin.png" class="home_social-link" /></a>
        <a href="https://www.instagram.com/" ><img src="assets/instagram.png" class="home_social-link" /></a>
        <a href="https://twitter.com/home" ><img src="assets/twitter.png"class="home_social-link" /></a>
        <a href="https://goo.gl/maps/p8JK6Bd6fzoZQ6zn7 Bamako, Mali"><img src="assets/loc.png" class="home_social-link"/></a>
      </div>
    </div>

  </div>
</footer>
