<!DOCTYPE html><html><head>
  <link href="https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet" />
</head><body><div class="v8_204"><div class="v8_205"></div><span class="v8_206">accueil</span>
  <div class="name"></div><div class="name"></div><div class="v8_210"></div><div class="v8_211"></div>
  <div class="v8_212"></div><div class="v8_213"></div><div class="v8_214"></div><div class="v8_215"></div>
  <div class="v8_216"></div><div class="v8_217"></div><div class="v8_218"></div><div class="v8_219"></div>
  <div class="v8_220"></div><div class="v8_221"></div><div class="v8_222"></div><div class="name"></div>
  <div class="v8_224"></div><div class="v8_225"></div><div class="v8_226"></div><div class="v8_227"></div>
  <div class="v8_228"></div><div class="v8_229"></div><span class="v8_230">Tout droit réservé à MaliTourist Ⓒ 2022</span><div class="v12_342"></div>
  <div class="v12_343"></div><span class="v12_344">Nombre Régeion</span><span class="v12_346">10</span>
  <div class="v12_505"></div><div class="v12_506"></div><div class="v12_507"></div>
  <span class="v12_508">Ajouter</span><span class="v12_509">modifier</span><span class="v12_510">suprimer</span>
  <div class="v12_511"></div><div class="v12_513"></div><div class="v19_162"></div></div></body>
</html>