<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet" />
  <title>Document</title>
</head>
<body>
  <div class="v8_174">
    <div class="v8_175"></div><span class="v8_176">Regions</span>
    <div class="name"></div>
    <span class="v8_179">MaliTourist</span>
    <span class="v8_180">Le meilleur pour découvrir le Mali </span>
    <div class="name"></div><div class="v8_182"></div><div class="v8_183"
                                                           ></div>
                                                           <div class="v8_184"></div>
                                                           <span class="v8_185">Bamako</span>
                                                           <span class="v8_186">Carte du Mali</span>
                                                           <span class="v8_187">Bamako</span>
                                                           <span class="v8_188">Bamako</span>
                                                           <span class="v8_190">
      Le mali et ses Régions
    </span><span class="v8_191">
      La Tour de l’Afrique
    </span><div class="v8_192"></div>
    <div class="v8_193"></div><div class="v8_194"></div>
    <div class="v8_195"></div><div class="v8_196"></div>
    <div class="v8_197"></div><div class="v8_198"></div>
    <div class="v8_199"></div><div class="v8_200"></div>
    <div class="v8_201"></div><div class="v8_202"></div>
    <span class="v8_203">Tout droit réservé à MaliTourist Ⓒ 2022</span>
    <div class="v9_355"></div><div class="v9_356"></div>
    <div class="v9_357"></div><span class="v10_147">Ajouter</span>
    <span class="v10_148">modifier</span><span class="v10_149">suprimer</span>
    <div class="v12_347"></div><div class="v12_348"></div>
    <span class="v12_349">Nombre Pays</span><span class="v12_350">1</span>
    <div class="v12_502"></div><div class="v12_504">
    </div><div class="v19_163"></div>
  </div>
</body>
</html>
