<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap" rel="stylesheet" />
</head>
<body>
  <div class="v12_382">
  <span class="v12_409">Tout droit réservé à MaliTourist Ⓒ 2022</span>
  <div class="v12_428"><img src="assets/ml.png" /></div>
  <div class="v12_429"></div>
  <span class="v12_488">connexion</span>
  <span class="v12_431">Mot de passe</span>
  <span class="v12_432">MaliTourist</span>
  <div class="v12_433"></div>
  <div class="v12_434"></div>
  <span class="v12_430">Nom utilisateur</span>
  <span class="v12_435">Mot de passe oublier</span>
  <span class="v12_436">Inscription</span>
  </div>
</body>
</html>


